body {
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}

#failed {
    display: block;
    margin: auto;
}

#backend-logo {
    display: block;
    margin: auto;
    width: 40%;
}
.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}

.mid {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -160px 0 0 -160px;
}

#logcard {
    width: 300px;
    display: block;
    margin: auto;
}

.carderr {
    height: 400px !important;
}

.horalign {
    margin: 0 auto;
    display: block;
}

.queuebtn {
    width: 150px;
}

.margin-adj {
    margin-top: 50px;
}

.full {
    height: 98.3%;

}

#sendicon {
    position: absolute;
    top: 50%;
    height: 24px;
    margin-top: -13px; /* account for padding and border if not using box-sizing: border-box; */
    left: 5px;
}

#cardbot {
    position: relative;
}