{% extends "main.html" %}
{% block page %}Queue{% endblock %}
{% block content %}
    <body>
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12 margin-adj">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title center-align">Current Queue</span>
                        <hr/>
                        <form id="clusterForm">
                            <table>
                                <thead>
                                <tr>
                                    <th>
                                        <input name="all" type="checkbox" id="allbox" onchange="checkAll(this)"/>
                                        <label for="allbox">&nbsp;</label>
                                    </th>
                                    <th>ID</th>
                                    <th>NAME</th>
                                    <th>MASTER COUNT</th>
                                    <th>NODE COUNT</th>
                                    <th>STATUS</th>
                                </tr>
                                </thead>

                                <tbody id="tableContent">
                                {% for key, value in queue_dict.items() %}
                                    {% for clusters in value %}
                                        <tr id="{{ clusters['uuid'] }}" class="clustertable">
                                            <td>
                                                <input class="groupcheckbox" value="{{ clusters['uuid'] }}"
                                                       type="checkbox" id="{{ clusters['uuid'] }}_id" name="check" />
                                                <label for="{{ clusters['uuid'] }}_id" >&nbsp;</label>
                                            </td>
                                            <td id="{{ clusters['uuid'] }}_id">{{ clusters['uuid'] }}</td>
                                            <td id="{{ clusters['uuid'] }}_nm">{{ clusters['name'] }}</td>
                                            <td id="{{ clusters['uuid'] }}_mc">{{ clusters['master_count'] }}</td>
                                            <td id="{{ clusters['uuid'] }}_nc">{{ clusters['node_count'] }}</td>
                                            <td id="{{ clusters['uuid'] }}_st">{{ clusters['status'] }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <a class="horalign waves-effect waves-light btn queuebtn" href="/new">Add</a>
            </div>
            <div class="col s6">
                <a class="horalign waves-effect waves-light btn queuebtn" onclick="stopCluster()">Stop</a>
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {
            function update_values() {
                $.getJSON("/_updateQueue", function (data) {
                    if ($(".clustertable").length) {
                        console.log("====================================");
                        console.log("Starting checks");
                        var origList = [];
                        var newList = [];
                        $(".clustertable").each(function () {
                            console.log("++++++++++++++++++++++");
                            var currItem = this;
                            origList.push(currItem.id);
                            console.log("FROM clustertable:", currItem.id);
                            var del = 1;
                            console.log(data.j);
                            $.each(data.j.clusters, function (k, v) {
                                console.log("-------------------");
                                console.log("FROM json:", v.uuid.toString());
                                if (newList.indexOf(v.uuid.toString()) < 0) {
                                    newList.push(v.uuid.toString());
                                }
                                if (v.uuid.toString().toLowerCase() === currItem.id.toLowerCase()) {
                                    console.log("FOUND MATCH!\npage: " + currItem.id + "\njson: " + v.uuid);
                                    $("#" + v.uuid + "_id").html(v.uuid);
                                    $("#" + v.uuid + "_nm").html(v.name);
                                    $("#" + v.uuid + "_mc").html(v.master_count);
                                    $("#" + v.uuid + "_nc").html(v.node_count);
                                    $("#" + v.uuid + "_st").html(v.status);
                                    console.log(v.status);
                                    del = 0;
                                    return true;
                                }
                                console.log("NO MATCH!");
                            });
                            if (del == 1) {
                                console.log("No match found");
                                currItem.remove();
                            }
                        });
                        console.log("orig: " + origList);
                        console.log("new: " + newList);
                        console.log("Difflist:");
                        var diffList = arr_diff(origList, newList);
                        console.log(diffList);
                        $.each(data.j.clusters, function (k, v) {
                            console.log("! " + v);
                            $.each(diffList, function (index, val) {
                                console.log(val + " == " + v.uuid);
                                if (v.uuid.toString() === val.toString()) {
                                    $("#tableContent").append(
                                        '<tr id=' + v.uuid + ' class="clustertable"><td><input class="groupcheckbox" value=' + v.uuid + ' type="checkbox" id=' + v.uuid + '_id /><label for=' + v.uuid + '_id >&nbsp;</label></td><td id=' + v.uuid + '_id>' + v.uuid + '</td><td id=' + v.uuid + '_nm>' + v.name + '</td><td id=' + v.uuid + '_mc>' + v.master_count + '</td><td id=' + v.uuid + '_nc>' + v.node_count + '</td><td id=' + v.uuid + '_st>' + v.status + '</td></tr>'
                                    );
                                }
                            });
                        });
                        //origList =
                    }
                    else {
                        $("#tableContent").append(
                            '<tr id=' + v.uuid + ' class="clustertable"><td><input class="groupcheckbox" value=' + v.uuid + ' type="checkbox" id=' + v.uuid + '_id /><label for=' + v.uuid + '_id >&nbsp;</label></td><td id=' + v.uuid + '_id>' + v.uuid + '</td><td id=' + v.uuid + '_nm>' + v.name + '</td><td id=' + v.uuid + '_mc>' + v.master_count + '</td><td id=' + v.uuid + '_nc>' + v.node_count + '</td><td id=' + v.uuid + '_st>' + v.status + '</td></tr>'
                        );
                    }
                });
            }

            $(document).ready(setInterval(function () {
                update_values()
            }, 10000));
        }
    </script>
    </body>
{% endblock %}